*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
body{
    background: rgb(255, 255, 255);
    /* background-image: url("/resources/images/test.gif"); */
}
.row{
    background: rgb(238, 226, 226);

}
#logForm{
    text-align: right;
}
.container{
    padding-top:100px;
}
#xyz{
    border-radius: 25px;
    padding-top:25px;
    
}
#emailEdit:hover{
    border: 2px solid;
    color: rgb(0, 0, 0);

}
#passEdit:hover{
    border: 2px solid;
    color: rgb(0, 0, 0);
}
.btn{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}
.btn:hover{
    background: rgb(4, 4, 4);
    border: 3px solid;
    color: rgb(160, 222, 235);
}
.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
}
.section {
    margin: 20px;
    padding: 20px;
}